<!-- build:include layout/header.html -->
<!-- /build -->

<header id="header-full">
    <div class="wrap-primary">
        <div class="container">
            <h1 class="head-title animated bounceInDown animation-delay-8">Dipsticks, Dip Tapes and Calibration Charts</h1>
            <h2 class="secondary-color text-center head-subtitle animated fadeInUp animation-delay-14">Fuel Measurement for above and underground tanks containing: oil, diesel, petrol and other liquids.</h2>
            <p class="lead text-center animated fadeInUp animation-delay-14">Precise, reliable and cost-effective calibration and measurement of rectangular, vertical and horizontal cylindrical
                tanks
            </p>
            <div class="row header-full-icons text-center">
                <div class="col-sm-4 animated fadeInDown animation-delay-19">
                    <a href="dipsticks.html"><span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-bars"></i></span>
                            <h3>Dipsticks</h3>
                        </a>
                    <p class="text-center"><abbr title="Glass Reinforced Plastic">GRP</abbr> rods calibrated to your tank so as to provide quick,
                        accurate and cost-effective liquid volume readings</p>
                </div>
                <div class="col-sm-4 animated fadeInDown animation-delay-21">
                    <a href="dip_tapes.html"><span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-bullseye"></i></span>
                            <h3>Dip Tapes</h3>
                        </a>
                    <p class="text-center">Dip tapes in a variety of materials that can be used to determine the depth of liquid in any number of
                        different tanks</p>
                </div>
                <div class="col-sm-4 animated fadeInDown animation-delay-22">
                    <a href="calibration_charts.html"><span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-table"></i></span>
                            <h3>Calibration Charts</h3>
                        </a>
                    <p class="text-center">Calibration charts are a tabular record of tank volume so that liquid depth measurements can be converted
                        into volume.</p>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="wrap-dark-color margin-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-7 feature-container">
                <a class="feature-icon" href="assets/downloads/DipsticksTankMeasurementsForm.pdf" target="_blank">
                    <i class="fa fa-database"></i>
                    <h4>Tank Measurement Guide</h4>
                </a>
                <a class="feature-icon" href="assets/downloads/DipsticksRubbingGuide.pdf" target="_blank">
                    <i class="fa fa-book"></i>
                    <h4>Dipstick Rubbing Guide</h4>
                </a>
                <a class="feature-icon" data-toggle="modal" data-target="#deliveryModal">
                    <i class="fa fa-truck"></i>
                    <h4>Delivery Times</h4>
                </a>
                <a class="feature-icon">
                    <i class="fa fa-briefcase"></i>
                    <h4>Terms and Conditions</h4>
                </a>
            </div>
            <div class="col-md-5 hidden-sm hidden-xs">
                <p>Click on any of the links for more information</p>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="deliveryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Delivery</h4>
                </div>
                <div class="modal-body">
                    <p>Our dipsticks and strapping tables are manufactured to a specific tank using either the tank dimensions
                        to calculate the volumes or a rubbing of an existing dipstick.</p>
                    <p>Because our products are custom-made, we aim to dispatch our products within <strong>10 working days of receipt of payment.</strong></p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <section class="margin-bottom">
        <div class="row">
            <div class="col-md-12">
                <h2 class="right-line">Solutions to your tank measurement needs</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-cube"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Dipsticks for new tank installations</h3>
                        <p>Using the manufacturer's dimensions, we produce a calibrated <a href="dipsticks.html">dip rod</a>                            which is highly accurate and easy to use yet robust enough for the most demanding of environments.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-rotate-270 fa-database"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Replacement dipsticks for existing tanks</h3>
                        <p>If you have lost or broken your <a href="dipsticks.html">dipstick</a> we can manufacture a new one
                            for your storage tank, even if it is underground and you don't know the dimensions of the tank.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-tachometer"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Calibration charts for tank gauges </h3>
                        <p>Modern gauges require calibrating to the tank they're being fitted to before they can give volume
                            readings. Our <a href="calibration_charts.html">calibration charts</a> enable the gauges to be
                            setup correctly. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-table"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Strapping tables for use with dip tapes</h3>
                        <p>By using one of our <a href="calibration_charts.html">Calibration Charts</a> together with a <a href="dip_tapes.html">dip tape</a>                            accurate volume measurements can be achieved, what's more, one dip tape can be used for multiple
                            tanks. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-random"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Conversions</h3>
                        <p>We supply our products in whatever units you require whether that's millimeters and litres or inches
                            and gallons or any combination thereof. We can also convert an existing <a href="dipsticks.html">dipstick</a>                            to another unit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-user"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Customised Products</h3>
                        <p>Whatever your individual requirements are, we can provide them. If you have multiple dipsticks and
                            want them clearly marked with your details and references, no problem.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- row -->
    </section>

    <section class="margin-bottom">
        <p class="lead lead-lg text-center primary-color margin-bottom wow fadeInDown"><strong>Accurate, Reliable</strong> and <strong>Cost Effective</strong> Wet Stock Management</p>
        <div class="row">
            <div class="col-md-12 wow fadeInRight">
                <h2 class="no-margin-top">Do you need to know the volume of liquid in your storage tank?</h2>
                <p class="dropcaps">With Dipsticks Engineering you will get over 35 years of specialist experience in the calibration and manufacture
                    of <a href="dipsticks.html">dipsticks</a> and <a href="calibration_charts.html">calibration charts</a>                    for storage tanks. Whether you are a tank manufacturer, a garage forecourt supplier or rely on storage
                    tanks for the running of your business or home, we can provide you with high precision volume measurement
                    at low cost</h2>
                    <p>You may be conducting a large tank installation project or run a service station, either way, we can
                        provide you with a dipstick for the largest, underground industrial tank to a recycled oil drum and
                        everything in between.</p>
                    <p>With such a long involvement in the industry we have built up a vast database of tanks. The result being
                        that there's a good chance we already know your tank details, even if you don't!</p>
                    <p> Unlike other manufacturers, our volumetric calculations take in to account real-world tank design and
                        manufacture so you can be confident that whether your tank has dished ends, is on a tilt or is something
                        more exotic, the volume measurements you take from our dipsticks will be highly accurate.
                        <p>

            </div>
        </div>
         <br />
        <div class="row">
            <div class="col-md-3 col-sm-6 fadeInDown wow">
                <div class="content-box box-default">
                    <span class="icon-ar icon-ar-lg icon-ar-inverse icon-ar-circle"><i class="fa fa-adjust fa-rotate-90"></i></span>
                    <h5 class="content-box-title">FIND OUT WHAT TANKS WE CALIBRATE</h5>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="<%= assets %>img/colors/blue/dipstick_for_steel_heating_oil_tank_thumbnail.jpg" alt="dipstick for steel heating oil tank">
                          </a>
                        <div class="media-body">
                            <h5 class="media-heading">Rectangular</h5>

                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="<%= assets %>js/holder.js/70x70/social" alt="...">
                          </a>
                        <div class="media-body">
                            <h5 class="media-heading">Horizontal Cylindrical</h5>

                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="<%= assets %>js/holder.js/70x70/social" alt="...">
                          </a>
                        <div class="media-body">
                            <h5 class="media-heading">Vertical Cylindrical</h5>

                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="<%= assets %>js/holder.js/70x70/social" alt="...">
                          </a>
                        <div class="media-body">
                            <h5 class="media-heading">Home Heating Oil Tanks</h5>

                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="<%= assets %>js/holder.js/70x70/social" alt="...">
                          </a>
                        <div class="media-body">
                            <h5 class="media-heading">Oil Drums</h5>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">A Demonstration Of How We Make Our Dipsticks</div>
                    <div class="video">
                        <iframe width="420" height="315" src="https://www.youtube.com/embed/_fjZwlEt31E" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
           
            <div class="col-md-3 col-sm-6 fadeInDown wow">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="content-box box-default">
                            <span class="icon-ar icon-ar-lg icon-ar-inverse icon-ar-circle"><i class="fa fa-tint"></i></span>
                            <h4 class="content-box-title">WHAT LIQUIDS CAN WE MEASURE?</h4>
                            <ul class="list-group em-primary">
                                <li class="list-group-item h5">Petrol</li>
                                <li class="list-group-item h5">Diesel
                                    <abbr title="Diesel Engined Road Vehicle">(DERV)</abbr></li>
                                <li class="list-group-item h5">Heating Oil</li>
                                <li class="list-group-item h5">Gas Oil</li>
                                <li class="list-group-item h5">and more!</li>
                            </ul>
                        </div>
                    </div>
                    <br />

                </div>
                <!-- Tab panes -->




            </div>
        </div>
    </section>
</div>

<!-- build:include layout/footer/widgets.html -->
<!-- /build -->
<!-- build:include layout/footer/foot.html -->
<!-- /build -->

</div>
<!-- boxed -->
</div>
<!-- sb-site -->

<!-- build:include layout/footer/slidebar.html -->
<!-- /build -->
<!-- build:include layout/footer/totop.html -->
<!-- /build -->
<!-- build:include layout/footer/scripts.html -->
<!-- /build -->
<script src="<%= assets %>js/home_full.js"></script>

</body>

</html>