<aside id="footer-widgets">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="footer-widget-title">Sitemap</h3>
                <ul class="list-unstyled three_cols">
                    <li><a href="/">Home</a></li>
                    <li><a href="dipsticks.html">Dipsticks</a></li>
                    <li><a href="dipstick_rubbing_guide.html">Rubbings</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="strapping_tables.html">Dip Chart</a></li>
                    <li><a href="how_to_use_a_dipstick.html">Instructions</a></li>
                    <li><a href="FAQs.html">FAQs</a></li>
                    <li><a href="dip_tapes.html">Dip Tapes</a></li>
                    <li><a href="about.html">About Us</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <div class="footer-widget">
                     <h3 class="footer-widget-title">Downloads</h3>
                            <div class="row">
                                <a class="pull-left" href="assets/downloads/DipsticksTankMeasurementsForm.pdf" target="_blank">Tank Measurement Guide</a>
                            </div>
                            <div>
                                <a class="pull-left" href="assets/downloads/DipsticksRubbingGuide.pdf" target="_blank">Dipstick Rubbing Guide</a>
                            </div>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="footer-widget">
                    <h3 class="footer-widget-title">Example Works</h3>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6">
                            <a href="#" class="thumbnail"><img src="<%= assets %>img/colors/blue/dipsticks_for_oil_tank.jpg" class="img-responsive" alt="Dipsticks For Oil Tank"></a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6">
                            <a href="#" class="thumbnail"><img src="<%= assets %>img/colors/blue/dipsticks_for_commercial_tanks.jpg" class="img-responsive" alt="Dipsticks For Commercial Tanks"></a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6">
                            <a href="#" class="thumbnail"><img src="<%= assets %>img/colors/blue/dipping_tape.jpg" class="img-responsive" alt="Dipsticks For Commercial Tanks"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</aside>
<!-- footer-widgets -->