<header id="header-full-top" class="hidden-xs <%= header_class %>">
    <div class="container">
        <div class="header-full-title">
            <h1 class="animated fadeInRight"><a href="/">Dipsticks <span>Engineering</span></a></h1>
            <p class="animated fadeInRight">Fuel tank measuring solutions</p>
        </div>
        <nav class="top-nav">
            <h4 class="animated fadeInRight"><i class="fa fa-envelope"></i><a href="mailto://enquiries@dipsticksengineering.co.uk"> &nbsp; enquiries@dipsticksengineering.co.uk</a></h4>
            <h4 class="animated fadeInRight"><i class="fa fa-phone"></i> &nbsp; +44 (0)1952 730613</h4>
        </nav>
    </div> <!-- container -->
</header> <!-- header-full -->
