<nav class="<%= navbar_class %> yamm navbar-static-top" role="navigation" id="header">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a id="ar-brand" class="<%= navbar_brand_class %>" href="/">Dipsticks <span>Engineering</span></a>
        </div>
        <!-- navbar-header -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="<%= navbar_nav_class %>">
                <li><a href="/">Home</a> </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Products</a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="dipsticks.html">Dipsticks</a></li>
                        <li><a href="dip_tapes.html">Dip Tapes</a></li>
                        <li><a href="calibration_charts.html"> Dip Charts &amp; Strapping Tables</a></li>
                        <li><a href="fuel_gauging_paste.html">Fuel Level Gauging Paste</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Tank Types</a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="dipsticks.html">Industrial &amp; Commercial</a></li>
                        <li><a href="dip_tapes.html">Home Heating Oil</a></li>
                        <li><a href="calibration_charts.html">Light Aircraft &amp; Boats</a></li>
                        <li><a href="fuel_gauging_paste.html">Road Tankers</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Calibration Tools</a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="dipsticks">Tank Volume Calculator</a></li>
                        <li><a href="dip_tapes">Dished End Calculator</a></li>
                        <li><a href="calibration_charts">Volume Converter</a></li>
                    </ul>
                </li>
                <li><a href="/about.html">About Us</a> </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Dipping Guides</a>
                    <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        <li><a href="tank_measurement_guide.html">Measure Your Storage Tank</a></li>
                        <li><a href="how_to_use_a_dipstick.html">Take a Reading with a Dipstick</a></li>
                        <li><a href="dipstick_rubbing_guide.html">Make a Rubbing of a Dipstick</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact Us</a> </li>
            </ul>
        </div>
        <!-- navbar-collapse -->
    </div>
    <!-- container -->
</nav>