<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Dipsticks</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="/">Home</a></li>
            <li><a href="/">Products</a></li>
            <li class="active">Dipsticks</li>
        </ol>
    </div>
</header>

<div class="container">
    <h2 class="section-title no-margin-top">Calibrated GRP rods that provide accurate and cost-effective volume readings</h2>
    <div class="row">
            <div class="col-md-4 col-sm-6 hidden-xs">
                <ul class="bxslider">
                    <li>
                        <img src="assets/img/calibrated_dipstick.jpg" alt="Tank Measurement Stick" /></li>
                    <li>
                        <img src="assets/img/Example of our dipsticks.png" alt="Calibrated Dipsticks for Storage Tanks"></li>
                    <li>
                        <img src="assets/img/t_section_grp_dipstick.jpg" alt="T Section GRP Dipsticks" /></li>
                </ul>

                <div id="bx-pager">
                    <a data-slide-index="0" href="#">
                        <img src="assets/img/calibrated_dipstick_thumbnail.jpg" alt="Dipsticks for Home Oil Tank"></a>
                    <a data-slide-index="1" href="#">
                        <img src="assets/img/Example of our dipsticks_thumbnail.png" alt="Calibrated Dipsticks for Oil Tanks"></a>
                    <a data-slide-index="2" href="#">
                        <img src="assets/img/t_section_grp_dipstick_thumbnail.jpg" alt="Heating Oil Tank Dipstick"></a>
                </div>

                <h3>Storage Tank Applications</h3>
                <p class="lead-sm text-center">Our dipsticks are ideally suited for the following tank types</p>
                <div class="list-group">
                    <a href="page_coming.html" class="list-group-item list-group-item-info">Rectangular Storage tanks</a>
                    <a href="page_coming.html" class="list-group-item list-group-item-info">Horizontal Cylindrical (with or without dished ends)</a>
                    <a href="page_coming.html" class="list-group-item list-group-item-info">Vertical Cylindrical Storage Tanks</a>
                    <a href="dipsticks_for_heating_oil_tanks" class="list-group-item list-group-item-info">Home Heating Oil Tanks & Oil Drums</a>
                </div>
                <p class="lead lead-small em-primary text-center">Don't see your tank on the list? Just contact us!</p>
            </div>
    <div class="col-md-5 col-sm-6">
                <h3 class="no-margin-top">Description</h3>
                <p>
                    Our dipsticks are manufactured from T section
                    <abbr title="Glass Reinforced Plastic">GRP</abbr>
                    making them durable yet flexible and therefore ideally suited for use in demanding environments
                </p>
                <p>The dip rod can be calibrated to the exact dimensions of your storage tank meaning that they provide highly accurate liquid volume measurements at a cost-effective price</p>
                <p>We can also provide dipsticks marked at regular height intervals rather than volumes, such as every 10 millimetres.</p>
                <h3>Specifications</h3>
                <ul class="unstyled">
                    <li><strong>Material: </strong>Specially formulated GRP mixture ensuring the correct electrical and thermal properties in accordance with BSI regulations.</li>
                    <li><strong>Lengths: </strong>From 1m up to 5m.</li>
                    <li><strong>Measurements: </strong>To suit your needs: litres, cubic metres, gallons US gallons. Or regular height intervals: millimetres/inches.</li>
                    <li><strong>Suitable For: </strong>All non-consumption liquids: oil, diesel (<abbr title="Diesel for on road use">DERV</abbr>), petrol, paraffin, kerosene, hydraulic fluid.</li>
                    <li><strong>Customisable: </strong>We can engrave your dipstick to your requirements, such as: tank reference, telephone number etc.</li>
                </ul>

            </div>
        <div class="col-md-3">
            <div class="e-price">$ <span>229</span>.00</div>
            <a href="#" class="btn btn-ar btn-block btn-success"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
            <h3 class="right-line">Related Products</h3>
            <div class="ec-box">
                <div class="ec-box-header"><a href="#">Bq Aquaris 5 16GB White</a></div>
                <a href="#"><img src="<%= assets %>img/demo/e_img03.jpg" alt=""></a>
                <div class="ec-box-footer">
                    <span class="label label-primary">$ 249.99</span>
                    <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- build:include layout/footer/widgets.html --><!-- /build -->
<!-- build:include layout/footer/foot.html --><!-- /build -->

</div> <!-- boxed -->
</div> <!-- sb-site -->

<!-- build:include layout/footer/slidebar.html --><!-- /build -->
<!-- build:include layout/footer/totop.html --><!-- /build -->
<!-- build:include layout/footer/scripts.html --><!-- /build -->
<script src="<%= assets %>js/e-commerce_product.js"></script>

</body>

</html>

